/************ theme basics ************/

.ribbit h2.card-title {
    font-weight: 800;
}

.bootstrap-4 .font-size-md,
p,
body {
    color: #666666;
    font-weight: 300;
}

body.ribbit h1 {
    font-size: 42px;
    font-weight: 800;
}

body.ribbit h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
}

h2 {
    color: #272727;
}

body.ribbit h3 {
    font-size: 21px;
    font-weight: 800;
    line-height: 140%;
}

h3 {
    color: #272727;
}

body.ribbit h4 {
    font-size: 18px;
    font-weight: 800;
}

h4 {
    color: #272727;
}

body.ribbit h5 {
    font-size: 16px;
    font-weight: 800;
}

body.ribbit h6 {
    font-size: 14px;
    font-weight: 400;
}

body.ribbit .col-md-4 .ContentUserControl .heading,
body.ribbit .col-md-6 .ContentUserControl .heading {
    margin-left: 0;
    margin-right: 0;
}

body.ribbit .col-md-4 .ContentUserControl .heading h2,
body.ribbit .col-md-6 .ContentUserControl .heading h2,
body.ribbit .col-md-4 .ContentItemHtml>h2,
body.ribbit .col-md-6 .ContentItemHtml>h2 {
    font-size: 16px;
}

.widget-header .font-size-sm {
    font-size: 16px !important;
    font-weight: 800;
}

.col-md-12>.FeaturedCardGrid .featured-card-single:not(.layout-hero) {
    border-radius: 0;
    box-shadow: none;
    background-color: transparent !important;
}

/************ basics / reset ************/

.hl-primary-row-bkgd,
.hl-primary-row-bkgd h1,
.hl-primary-row-bkgd h2,
.hl-primary-row-bkgd h3,
.hl-primary-row-bkgd h4,
.hl-primary-row-bkgd h5,
.hl-primary-row-bkgd h6,
.hl-primary-row-bkgd p {
    color: var(--hl-bs--primary-opposite);
}

.hl-secondary-row-bkgd,
.hl-secondary-row-bkgd h1,
.hl-secondary-row-bkgd h2,
.hl-secondary-row-bkgd h3,
.hl-secondary-row-bkgd h4,
.hl-secondary-row-bkgd h5,
.hl-secondary-row-bkgd h6,
.hl-secondary-row-bkgd p {
    color: var(--hl-bs--btn-secondary-text);
}

/*** removing HTML Footer ***/

.ContentItemHtml .HtmlFooter {
    display: none;
}

/*** flex rows ***/

@media (min-width: 992px) {
    .flex-row {
        display: flex;
        align-items: center;
    }

    .flex-row .HtmlContent>*:first-child {
        margin-top: 0;
    }

    .flex-row .HtmlContent>*:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 769px) {
    .flex-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    body.ribbit .flex-heading h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

/*** removing margin on final paragraph ***/

p:last-child {
    margin-bottom: 0;
}

/*** preventing overflow on mobile ***/

#MPOuterMost {
    overflow-x: hidden;
}

/****** resetting padding/margins ******/

body.ribbit.interior #MainCopy_ContentWrapper.no-top-padding,
body.ribbit.interior.community-pages #MainCopy_ContentWrapper {
    padding-top: 0;
}

body.ribbit.interior #MainCopy_ContentWrapper.no-bottom-padding {
    padding-bottom: 0;
}

.row>div[class*="col-md-"]>.ContentUserControl:not(:first-child),
.row>div[class*="col-md-"]>.ContentItemHtml:not(:first-child) {
    margin-top: 16px;
}

body.ribbit.interior #MainCopy_ContentWrapper>.row-wide>div[class*=col-md-]:first-child {
    padding-left: 8px;
}

body.ribbit.interior #MainCopy_ContentWrapper>.row-wide>div[class*=col-md-]:last-child {
    padding-right: 8px;
}

#PageTitleH1 {
    padding: 20px 16px;
}

/*** padding/margins specifically for featured cards ***/

.featured-card-multi {
    margin-left: -8px;
    margin-right: -8px;
}

/*** mobile padding ***/

@media (max-width: 991px) {
    #PageTitleH1 {
        padding-left: 8px;
        padding-right: 8px;
    }

    body.ribbit.interior #MainCopy_ContentWrapper>.row-wide>div[class*=col-md-]:first-child {
        padding-left: 0;
    }

    body.ribbit.interior #MainCopy_ContentWrapper>.row-wide>div[class*=col-md-]:last-child {
        padding-right: 0;
    }

    .featured-card-multi {
        margin-left: 0;
        margin-right: 0;
    }

}

/* fixing all the bits where padding is removed at 992px, but columns don't become full width until 991px */

@media (max-width: 992px) {
    .interior .row-wide div[class*="section"] {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media (max-width: 991px) {
    .interior .row-wide div[class*="section"] {
        padding-left: 0;
        padding-right: 0;
    }
}

/****** unstyled lists ******/

.unstyled-list ul {
    padding-left: 0;
    list-style-type: none;
}

/****** background images ******/

.bg-image,
.img-container {
    background-size: cover;
    background-position: center;
}

/****** buttons ******/

.make-buttons em a,
.card.social ul li a,
.cta-tile a::after,
button,
.btn,
body.ribbit .btn,
body.ribbit :not(.no-theme) .HLLandingControl .Content div[id*="AnnouncementLinkPos"] a:not(.btn),
body.ribbit .summary-edit em a {
    background: linear-gradient(#0000, rgb(0 0 0/30%)) top/100% 800%;
}
.moxman-btn button,
.moxman-btn button:is(:hover, :focus) {
    background: transparent;
    color: #333;
}

.make-buttons em a,
.bootstrap-4:not(#CreateBtnWrapper) .btn {
    white-space: pre-wrap;
}

.make-buttons em a:is(:hover, :focus),
.card.social ul li a:is(:hover, :focus),
.cta-tile a:is(:hover, :focus)::after,
button:is(:hover, :focus),
.btn:is(:hover, :focus),
body.ribbit .btn:is(:hover, :focus),
.btn.btn-primary:is(:hover, :focus),
body.ribbit .btn.btn-primary:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-primary:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-primary:focus,
body.ribbit :not(.no-theme) .btn-primary:hover:not(:disabled),
.btn.btn-success:is(:hover, :focus),
body.ribbit .btn-success:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-success:focus,
body.ribbit :not(.no-theme) .btn-success:hover:not(:disabled),
body.ribbit .bootstrap-4 .featured-card .card-edit .btn-group .btn-group .btn-primary:is(:hover, :focus),
.btn.btn-default:is(:hover, :focus),
body.ribbit .btn.btn-default:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-default:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-default:focus,
body.ribbit :not(.no-theme) .btn-default:hover:not(:disabled),
body.ribbit :not(.no-theme) .HLLandingControl .Content div[id*="AnnouncementLinkPos"] a:not(.btn):is(:hover, :focus),
body.ribbit .summary-edit em a:is(:hover, :focus) {
    background: linear-gradient(#0000, rgb(0 0 0/30%)) top/100% 800%;
    background-position: bottom;
}

.make-buttons em a,
button,
.btn,
body.ribbit .btn,
.cta-tile a::after,
.make-buttons em a:is(:hover, :focus),
button:is(:hover, :focus),
.btn:is(:hover, :focus),
.cta-tile a:is(:hover, :focus)::after,
.btn.btn-primary,
.btn.btn-primary:is(:hover, :focus),
body.ribbit .btn.btn-primary,
body.ribbit .btn.btn-primary:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-primary,
body.ribbit :not(.no-theme) .btn-primary:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-primary:focus,
body.ribbit :not(.no-theme) .btn-primary:hover:not(:disabled),
body.ribbit .ContentUserControl .HLLandingControl .btn.btn-default,
body.ribbit .ContentUserControl .HLLandingControl .btn.btn-default:is(:hover, :focus),
body.ribbit :not(.no-theme) .HLLandingControl .Content div[id*="AnnouncementLinkPos"] a:not(.btn),
body.ribbit :not(.no-theme) .HLLandingControl .Content div[id*="AnnouncementLinkPos"] a:not(.btn):is(:hover, :focus),
body.ribbit .summary-edit em a,
body.ribbit .summary-edit em a:is(:hover, :focus) {
    background-color: var(--hl-bs--primary);
    color: var(--hl-bs--primary-opposite);
    border: none;
}

.btn.btn-success,
.btn.btn-success:is(:hover, :focus),
body.ribbit .btn.btn-success,
body.ribbit .btn.btn-success:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-success,
body.ribbit :not(.no-theme) .btn-success:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-success:focus,
body.ribbit :not(.no-theme) .btn-success:hover:not(:disabled),
body.ribbit .bootstrap-4 .featured-card .card-edit .btn-group .btn-group .btn-primary,
body.ribbit .bootstrap-4 .featured-card .card-edit .btn-group .btn-group .btn-primary:is(:hover, :focus) {
    background-color: var(--hl-bs--secondary);
    color: var(--hl-bs--btn-secondary-text);
    /* don't think this is right; looking for text-on-secondary */
    border: none;
}

.btn.btn-default,
.btn.btn-default:is(:hover, :focus),
.btn.btn-default-override,
.btn.btn-default-override:is(:hover, :focus),
body.ribbit .btn.btn-default-override,
body.ribbit .btn.btn-default-override:is(:hover, :focus),
body.ribbit .btn.btn-default,
body.ribbit .btn.btn-default:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-default,
body.ribbit :not(.no-theme) .btn-default:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-default:focus,
body.ribbit :not(.no-theme) .btn-default:hover:not(:disabled) {
    background-color: var(--hl-bs--gray-300);
    color: var(--hl-bs--default-text);
    border: none;
}

.categorize-message-buttons button {
    color: var(--hl-bs--default-text);
}

.btn.btn-link,
.btn.btn-link:is(:hover, :focus),
body.ribbit .btn.btn-link,
body.ribbit .btn.btn-link:is(:hover, :focus) {
    background: transparent;
    color: var(--hl-bs--default-text);
}

/*** carets ***/

body.ribbit .bootstrap-4 .featured-card .card-edit .btn-group .btn-group .btn-primary.dropdown-toggle::after,
body.ribbit .bootstrap-4 .featured-card .card-edit .btn-group .btn-group .btn-primary.dropdown-toggle:is(:hover, :focus)::after {
    border-top-color: var(--hl-bs--btn-secondary-text);
}

/*** widget buttons ***/

body.ribbit .HLLandingControl div[id*="BottomLink"],
body.ribbit .HLLandingControl div[id*="BottomLink"] > div,
body.ribbit .HLLandingControl div[id*="MoreLink"],
body.ribbit .HLLandingControl div[id*="MoreLink"] > div {
    padding: 0;
}

/****** links ******/

a,
a:hover,
a:focus,
button,
button:hover,
button:focus,
input,
input:hover,
input:focus,
body .bootstrap-4 .btn,
body .bootstrap-4 .btn:is(:hover, :focus) {
    transition: .3s;
}

/************ reset end ************/

/************ buttons ************/

.make-buttons em {
    margin: -5px;
    display: inline-block;
}

.make-buttons em a {
    margin: 5px;
}
.make-buttons em a,
body.ribbit :not(.no-theme) .HLLandingControl .Content div[id*="AnnouncementLinkPos"] a:not(.btn),
body.ribbit .summary-edit em a {
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

.hl-primary-row-bkgd .make-buttons em a,
.hl-primary-row-bkgd.make-buttons em a {
    color: var(--hl-bs--primary);
    background: var(--hl-bs--gray-100);
}

.hl-primary-row-bkgd .make-buttons em a:is(:hover, :focus),
.hl-primary-row-bkgd.make-buttons em a:is(:hover, :focus) {
    color: var(--hl-bs--primary);
    background: var(--hl-bs--gray-300);
}

/* Header */



body.ribbit #NAV > div {
    padding: 0;
}

#MPOuterHeader #NAV #MPButtonBar {
    max-width: unset;
    padding-left: 15px;
    padding-right: 15px;
}

/************ homepage V1 ************/

.cta-card .featured-card-single.card-layout-split {
    background: [PrimaryColor] !important;
    padding: 40px;
}

/************ interior pages ************/

/****** HTML cards ******/

body.ribbit .row-wide.cards > .col-md-12 {
    display: flex;
    margin: -8px;
    width: calc(100% + 16px);
}
.cards .card {
    margin: 8px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-basis: 20%;
}
.cards.row > .col-md-12 > .card.ContentItemHtml:not(:first-child) {
    margin-top: 8px;
}
.cards .card.link-card a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card,
.card.link-card a {
    padding: 30px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 2px 1px rgba(124, 124, 124, .25);
}
.card.link-card a {
    display: block;
    text-decoration: none;
    color: var(--hl-bs--default-text);
}
.card.link-card a:is(:hover, :focus) {
    color: var(--hl-bs--default-text);
    box-shadow: 0 0 4px 2px rgba(124, 124, 124, 0.25);
}
.card.link-card {
    padding: 0;
    box-shadow: none;
}
.card.link-card a i {
    color: var(--hl-bs--primary);
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.card.social ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card.social ul li a {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    background-color: var(--hl-bs--primary);
    color: var(--hl-bs--primary-opposite);
    display: inline-block;
}

.card.social ul li a:is(:hover, :focus) {
    background-color: var(--hl-bs--primary);
    color: var(--hl-bs--primary-opposite);
}

.card img {
    margin: -30px -30px 30px -30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: calc(100% + 60px);
}

.card .HtmlContent>p i,
.card .HtmlContent>i {
    font-size: 40px;
    color: var(--hl-bs--primary);
}

/****** CTA tiles ******/

.cta-tile a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: block;
    text-decoration: none;
    padding: 24px 100px 24px 24px;
    position: relative;
    background: var(--hl-bs--gray-100);
    margin-bottom: 30px;
}

.cta-tile.icon a {
    padding-left: 110px;
}

.cta-tile.icon a>p:first-child {
    margin-bottom: 0;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.cta-tile.icon a i {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    background: var(--hl-bs--gray-300);
    color: var(--hl-bs--primary);
    font-size: 30px;
}

body.ribbit .cta-tile a {
    color: var(--hl-bs--default-text);
}

.cta-tile a::after {
    position: absolute;
    width: 60px;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Font Awesome 5 Pro';
    content: '\f061';
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.cta-tile h3 {
    margin-top: 0;
    transition: .3s;
}

.cta-tile a:hover,
.cta-tile a:focus {
    background: var(--hl-bs--gray-200);
    transition: .3s;
    color: var(--hl-bs--primary);
}

.cta-tile a:hover::after,
.cta-tile a:focus::after {
    transition: .3s;
}

.cta-tile.icon a:is(:hover, :focus) i {
    background: var(--hl-bs--gray-400);
}

/****** accordions ******/

/*** accordions ***/
.accordion-heading button {
    font-size: 20px;
    font-weight: 400;
    color: var(--hl-bs--link);
    background: transparent;
    padding: 15px 24px 15px 0;
    margin: 0;
    border: none;
    border-top: 1px solid var(--hl-bs--gray-100);
    cursor: pointer;
    transition: .3s;
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
}

.accordion-heading button:hover,
.accordion-heading button:focus {
    color: var(--hl-bs--link-hover);
    transition: .3s;
}

.accordion-heading button::before {
    font-family: 'Font Awesome 6 Pro';
    content: '\f078';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.open .accordion-heading button::before {
    content: '\f077';
}

.accordion-text {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.accordion-wrap .ContentItemHtml,
.accordion-wrap .ContentItemHtml:hover {
    transition: none !important;
}

/****** team bio modals ******/

body.has-modal::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    transition: 0.3s;
    opacity: 0;
}

body.has-modal.modal-open::before {
    z-index: 1000;
    opacity: 1;
    transition: .3s;
}

body.has-modal {
    position: relative;
}

body.has-modal.modal-open {
    overflow: hidden;
}

.team {
    padding: 8px;
    position: relative;
}

.col-md-3>.team,
.col-md-3>.team {
    padding-left: 0;
    padding-right: 0;
}

.team .HtmlContent {
    position: relative;
    box-shadow: 0 0 2px 1px rgba(124, 124, 124, .25);
    border-radius: 8px;
    transition: .3s;
    padding: 20px;
    text-align: center;
    width: 500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.team .HtmlContent .img-container {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    overflow: hidden;
    border-radius: 50%;
}

.team p a,
.bio p a {
    text-decoration: none;
    color: var(--hl-bs--default-text);
}

.bio.no-contact-info p a::before,
.bio.no-contact-info p:first-of-type::before {
    display: none;
}

.bio p,
.team p {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 21px;
}

.team h3,
.bio h3 {
    color: var(--hl-bs--primary);
}

.team h4,
.bio h4 {
    color: var(--hl-bs--default-text);
}

.team button {
    padding: 5px 10px;
    border: none;
}

.bio {
    display: none;
    position: fixed;
    height: 450px;
    width: 800px;
    top: calc(50% - 200px);
    left: calc(50% - 350px);
    border-radius: 4px;
    padding: 40px;
    background: #ffffff;
    box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.1), 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.bio.open {
    display: block;
    z-index: 1020;
}

.bio .HtmlContent {
    display: flex;
    height: 100%;
}

.bio-image {
    flex-basis: 30%;
    padding-right: 15px;
}

.bio-image img {
    max-height: 300px;
}

.bio-text {
    flex-basis: 70%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.bio h3 {
    margin-top: 0;
}

.bio h4 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--hl-bs--gray-100);
}

.bio button {
    position: absolute;
    color: var(--hl-bs--link);
    background: transparent;
    border: none;
    top: 20px;
    right: 20px;
    font-size: 24px;
    z-index: 20;
}

.bio button:is(:hover, :focus) {
    color: var(--hl-bs--link-hover);
}

.bio button::before {
    font-family: 'Font Awesome 6 Pro';
    content: '\f00d';
}

/****** icon tiles ******/

.icon-tile .featured-card .featured-card-image,
.icon-tile .featured-card-single>.flex-fill {
    display: none;
}

.icon-tile .featured-card .featured-card-single {
    width: 500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.icon-tile .featured-card .icon-container>.rounded {
    border-radius: 50% !important;
}

/****** sponsors ******/

#MPOuterMost #MPOuter .sponsors {
    margin-top: 32px;
}

.sponsors>.col-md-12.slick-slider .slick-track {
    display: flex;
}

.sponsors .slick-slider .sponsor {
    padding: 0 8px;
    display: flex;
    height: auto;
}

.sponsor .HtmlContent {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
}

.sponsor a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    background: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
    text-decoration: none;
}



body.ribbit #MPOuterMost .top-blog-slider-wrapper>div {
    max-width: 1200px;
    margin: 40px auto;
}

body.ribbit.blogs #MainCopy_ContentWrapper {
    padding: 0;
}

.top-blogs ul .slick-track {
    display: flex;
}

.top-blog-slider-wrapper ul li, .top-resource-slider  li {
    height: auto;
    background-color: white;
    border: 0;
    margin: 0 15px;
    /* width: calc(33.3333333333% - 30px) !important; */
    padding: 215px 30px 25px;
    position: relative;
}

.top-blog-slider-wrapper ul li .title-row .col-md-3,
.top-resource-slider li .title-row .col-md-3 {
    display: none;
}

.top-blog-slider-wrapper ul li .title-row .col-md-9,
.top-resource-slider li .title-row .col-md-9 {
    width: 100%;
}


.top-blog-slider-wrapper ul li .img-container,
.top-resource-slider li .img-container {
    position: absolute;
    top: 25px;
    left: 30px;
    right: 30px;
    height: 170px;
    /* width: calc(100% - 60px); */
    background-size: cover;
    background-position: center;
}


.thrive-blogs div[id*="FollowIcon"] {
    display: none;
}

.thrive-blogs .blogs-block {
    padding-left: 300px;
    position: relative;
    padding-bottom: 53px;
}

.thrive-blogs .blogs-block .img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 275px;
    height: 142px;
    background-size: cover;
    background-position: center;
}

.thrive-blogs .blogs-block .title-row .col-md-8,
.latest-news-list .blogs-block .col-md-8,
.featured-blogs ul li .title-row .col-md-9,
.featured-resource ul li .title-row .col-md-9  {
    width: 100%
}

.featured-blogs ul li .title-row h3,
.featured-resource ul li .title-row h3,
.resources-list ul li .title-row h3 {
    text-align: center;
}

.latest-news-list .blogs-block .col-md-8 h3,
.latest-news-list .blogs-block,
.latest-news-list .blogs-block .content-row  {
    text-align: center;
}

.resources-list ul li .text-container  .row p,
.resources-list ul li .ByLine,
.resources-list ul li  {
    text-align: center;
    }

.thrive-blogs .blogs-block .title-row .col-md-4,
.latest-news-list .ByLine {
    display: none;
}

.thrive-blogs .blogs-block .ByLine {
    display: none;
}

.thrive-blogs .blogs-block .content-row .col-md-12 {
    padding: 0;
}

.thrive-blogs .blogs-block .content-row .col-md-12 .margin-top-small {
    margin-top: 0;
}

/* Feratured Blogs List */

.featured-blogs ul,
.featured-resource ul {
        display: flex;
}

.featured-blogs ul li,
.featured-resource ul li {
    width: 33.3333333333%;
    padding: 30px 25px;
    background-color: #eee;
    border: 0;
    margin: 0 15px;
}

.featured-blogs ul li:first-of-type,
.featured-resource ul li:first-of-type {
    margin-left: 0;
}

.featured-blogs ul li:last-of-type,
.featured-resource ul li:last-of-type {
    margin-right: 0;
}

.featured-blogs.tile ul li h3 a::before,
.featured-resource ul li h3 a::before {
    content: '\f03e';
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    color: var(--hl-bs--default-text);
    display: block;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.featured-blogs ul li .title-row   .col-md-3,
.featured-resource ul li .title-row   .col-md-3 {
    display: none;
}

.featured-blogs ul li .title-rwo   .col-md-9,
.featured-resource ul li .title-rwo   .col-md-9 {
    width: 100%;
}

.recent-blogs-react {
    display: flex;
}


div[id*="BlogContents"] {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

div[id*="BlogContents"]> .row,
.row-border-top,
.blogs-block .col-md-4 {
    display: none;
}
body.ribbit.interior.resource-list #MainCopy_ContentWrapper .resources-list div[id*="ContentPanel"] {
    padding-left: 0;
    padding-right: 0;
    margin-left: -15px;
    margin-right: -15px;
}

body.ribbit.interior #MainCopy_ContentWrapper > .row > div[class*="col-md-"] > div[class*="Content"] .HLLandingControl .row {
    padding-left: 0;
    padding-right: 0;
}

.featured-blogs .top-blogs-slider ul li,
.resources-list ul li,
.latest-news-list .blogs-block {
    width: calc(25% - 30px);
    margin: 0 15px 30px;
    background: #eee;
    padding: 190px 25px 30px;
    min-height: 430px;
    position: relative;
}

.featured-blogs.tile .top-blogs-slider ul li {
    padding-top: 25px;
    min-height: unset;
}

.resources-list ul li {
    min-height: 375px;
    float: left;
}

.top-blog-slider-wrapper .featured-blogs .HLLandingControl .top-blogs-slider .img-container,
.resources-list ul li .img-container, 
.latest-news-list .blogs-block .img-container {
    height: 170px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.resource-list .library-filterRow,
.resource-list .library-topRow,
.resource-list .create-new-entry {
    display: none;
}

/************ community landing pages ************/

/****** community tabs ******/

body.ribbit .community-tabs-container-outer {
    margin-top: 0;
}
body.ribbit .community-home .community-tabs-container-outer {
    margin-bottom: 0;
}
body.ribbit .community-tabs-container-outer .community-tabs-container {
    padding-left: 8px;
    padding-right: 8px;
}

/****** community HTML ******/

body.ribbit .community-home .row.no-community-html.row-full {
    padding-top: 0;
    padding-bottom: 0;
    background: transparent;
}
.summary-edit .Content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.summary-edit .img-container {
    width: 42%;
}
.summary-edit .text-container {
    width: 58%;
    padding-right: 130px;
}
.summary-edit .Content > ul {
    width: 33.33333%;
    padding-left: 0;
    list-style-type: none;
}
.summary-edit .Content > ul + .text-container {
    width: 66.66666667%;
    padding-right: 180px;
}
.summary-edit .Content > ul li:not(:last-child) {
    margin-bottom: 10px;
}
.summary-edit .Content > ul li em a {
    display: block;
    text-align: center;
}
.summary-edit .Content .text-container h2:first-child {
    margin-top: 0;
}

/****** all widgets ******/

.community-home .row-wide > div[class*="col-md-"]:not(.col-md-12) .HLLandingControl {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 20px;
}
body.ribbit .community-home .row-wide > div[class*="col-md-"]:not(.col-md-12) .HLLandingControl ul li {
    padding: 0 0 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/****** discussions ******/

body.ribbit .community-home .row-wide > div.col-md-8:not(.col-md-12) .HLLandingControl ul li,
body.ribbit .community-home .row-wide > div.col-md-9:not(.col-md-12) .HLLandingControl ul li {
    padding-left: 70px;
    position: relative;
}
.community-home .row-wide > .col-md-8 .HLLandingControl ul li .col-md-10,
.community-home .row-wide > .col-md-9 .HLLandingControl ul li .col-md-10 {
    padding: 0;
    width: 100%;
}
.community-home .row-wide > .col-md-8 .HLLandingControl ul li .col-md-2,
.community-home .row-wide > .col-md-9 .HLLandingControl ul li .col-md-2 {
    position: absolute;
    left: 0;
    top: 0;
}

/****** announcements ******/

.community-home .HLAnnouncements {
    background: var(--hl-bs--gray-200);
    position: relative;
}
.community-home .row-wide > div[class*="col-md-"]:not(.col-md-12) .HLLandingControl.HLAnnouncements,
body.ribbit .community-home .row-wide > div[class*="col-md-"]:not(.col-md-12) .HLLandingControl.HLAnnouncements ul li {
    border: none;
}
body.ribbit .community-home .row-wide > div[class*="col-md-"]:not(.col-md-12) .HLLandingControl.HLAnnouncements ul li {
    padding: 0;
    margin: 0;
}
.community-home .HLAnnouncements ul li .content-row {
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.community-home .HLAnnouncements div[id*="MoreLinkPanel"] {
    display: none;
}
.community-home .HLAnnouncements ul li .DropDownGearBorderTop {
    height: unset;
}
.community-home .HLAnnouncements ul li .HLContainer {
    padding-bottom: 0;
    padding-top: 20px;
}

/*** arrows ***/

.HLAnnouncements .slick-arrow {
    color: var(--hl-bs--primary);
    font-size: 14px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    background: transparent;
    padding: 0;
    border: none;
}
.HLAnnouncements .slick-arrow.prev-arrow {
    right: 24px;
}
.HLAnnouncements .slick-arrow:is(:hover, :focus) {
    color: var(--hl-bs--secondary);
}

/****** events ******/

/*** date blocks ***/

.HLEventList ul li {
    display: flex;
    align-items: center;
}
.HLEventList ul li .col-md-2 {
    width: 70px;
    margin-right: 20px;
}
.HLEventList ul li .col-md-10 {
    width: calc(100% - 90px);
}
.HLEventList ul li .date-block {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background: var(--hl-bs--gray-200);
}
.HLEventList ul li .date-block .calendar-day {
    display: none;
}
.HLEventList ul li .date-block .calendar-month,
.HLEventList ul li .date-block .calendary-number {
    color: var(--hl-bs--primary);
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: 600;
}

/****** resources ******/

body.ribbit .community-home .row-wide > div[class*="col-md-"]:not(.col-md-12) .HLLandingControl.HLMyDocuments ul li {
    position: relative;
    padding: 0 0 20px 70px;
}

/*** icons ***/

.HLMyDocuments .listIconContainer {
    margin: 0;
    position: absolute;
    left: -70px;
    top: 0;
}
.HLMyDocuments .libListReptEntAttchLble + div > .col-md-12 {
    padding: 0;
}
.HLMyDocuments .listIconContainer img,
.HLMyDocuments .libListReptEntAttchLble,
.HLMyDocuments .pull-right .btn,
.HLMyDocuments .listIconContainer > div.inline-block:not(:first-child) {
    display: none;
}
.HLMyDocuments .listIconContainer:not(:empty) {
    width: 50px;
    height: 50px;
    background: var(--hl-bs--gray-200);
    text-align: center;
    border-radius: 50%;
    display: block;
}
.HLMyDocuments .listIconContainer div {
    background: transparent;
    margin: 0;
    width: 50px;
    height: 50px;
}
.HLMyDocuments .listIconContainer div.iconNumberDiv {
    display: none;
}
.HLMyDocuments .listIconContainer div::before {
    font-family: 'Font Awesome 6 Pro';
    font-size: 24px;
    line-height: 50px;
    color: var(--hl-bs--primary);
}

.HLMyDocuments .listIconContainer div.HLMListTypeYoutube::before,
.HLMyDocuments .listIconContainer div.HLMListTypeYoutubeMul::before {
    content: '\f167';
}

.HLMyDocuments .listIconContainer div.HLMListTypeWebinar::before,
.HLMyDocuments .listIconContainer div.HLMListTypeWebinarMul::before {
    content: '\f1c8';
}

.HLMyDocuments .listIconContainer div.HLMListTypeDoc::before,
.HLMyDocuments .listIconContainer div.HLMListTypeDocMul::before {
    content: '\f15b';
}

.HLMyDocuments .listIconContainer div.HLMListTypeSpreadsheet::before,
.HLMyDocuments .listIconContainer div.HLMListTypeSpreadsheetMul::before {
    content: '\f65b';
}

.HLMyDocuments .listIconContainer div.has-image::before,
.HLMyDocuments .listIconContainer div.HLMListTypeImg::before,
.HLMyDocuments .listIconContainer div.HLMListTypeImgMul::before {
    content: '\f1c5';
}

.HLMyDocuments .listIconContainer div.HLMListTypeVid::before,
.HLMyDocuments .listIconContainer div.HLMListTypeVidMul::before {
    content: '\f1c8';
}

.HLMyDocuments .listIconContainer div.HLMListTypeAudio::before,
.HLMyDocuments .listIconContainer div.HLMListTypeAudioMul::before {
    content: '\f1c7';
}

.HLMyDocuments .listIconContainer div.HLMListTypePresentation::before,
.HLMyDocuments .listIconContainer div.HLMListTypePresentationMul::before {
    content: '\f1c4';
}

.HLMyDocuments .listIconContainer div.HLMListTypeWordDoc::before,
.HLMyDocuments .listIconContainer div.HLMListTypeWordDocMul::before {
    content: '\f1c2';
}

.HLMyDocuments .listIconContainer div.HLMListTypeHyperlink::before,
.HLMyDocuments .listIconContainer div.HLMListTypeHyperlinkMul::before {
    content: '\f0c1';
}

.HLMyDocuments .listIconContainer div.HLMListTypePdf::before,
.HLMyDocuments .listIconContainer div.HLMListTypePdfMul::before {
    content: '\f1c1';
}

.HLMyDocuments .listIconContainer div.HLMListTypeZip::before,
.HLMyDocuments .listIconContainer div.HLMListTypeZipMul::before {
    content: '\f1c6';
}

.HLMyDocuments .listIconContainer div.HLMListTypeProject::before,
.HLMyDocuments .listIconContainer div.HLMListTypeProjectMul::before {
    content: '\f660';
}

.HLMyDocuments .listIconContainer div.HLMListTypeText::before,
.HLMyDocuments .listIconContainer div.HLMListTypeTextMul::before {
    content: '\f15c';
}

.HLMyDocuments .listIconContainer div.HLMListTypeHtml::before,
.HLMyDocuments .listIconContainer div.HLMListTypeHtmlMul::before {
    content: '\f1c9';
}

.HLMyDocuments .listIconContainer div.HLMListTypeEps::before,
.HLMyDocuments .listIconContainer div.HLMListTypeEpsMul::before {
    content: '\f1c5';
}

/****** recent news & featured resources ******/

.recent-news .HLRecentBlogs ul,
.featured-resources .HLMyDocuments ul {
    margin: -15px;
    display: flex;
}
body.ribbit .recent-news .HLRecentBlogs ul li,
body.ribbit .featured-resources .HLMyDocuments ul li {
    padding: 15px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
    display: flex;
    margin: 0;
    border: none;
    flex-direction: column;
}
.recent-news .HLRecentBlogs ul li .img-container,
.featured-resources .HLMyDocuments ul li .img-container {
    height: 170px;
}
.recent-news .HLRecentBlogs ul li .text-container,
.featured-resources .HLMyDocuments ul li .text-container {
    background: #fff;
    padding: 25px 20px;
    height: calc(100% - 170px);
}


/* Timeline Styling */

.milestone-slider ul.slick-dots {
    bottom: 0;
    width: 380px;
    left: calc(50% - 190px);
}

.milestone-slider .slick-arrow.slick-prev,
.milestone-slider .slick-arrow.slick-next {
    bottom: -9px;
    top: unset;
}

.milestone-slider .slick-arrow.slick-prev {
    left: calc(50% - 125px);
    position: absolute;
    z-index: 5;
}
.milestone-slider .slick-arrow.slick-next {
    right: calc(50% - 125px);
}

.milestone-slider .slick-arrow.slick-prev::before {
    font-family: 'Font Awesome 5 Pro';
    content: '\f053';
    color: var(--hl-bs--gray-500);
    position: absolute;
    z-index: 5;
    top: 0;
}

.milestone-slider .slick-arrow.slick-next::before {
    font-family: 'Font Awesome 5 Pro';
    content: '\f054';
    color: var(--hl-bs--gray-500);
    position: relative;
    z-index: 5;
}



/************ milestone carousel ************/

.milestone-slider.slick-dotted.slick-slider {
    margin-bottom: 120px;
}
.milestone-slider.slick-dotted .slick-list {
    height: 380px;
}
.milestone-slider.slick-dotted::before {
    content: '';
    opacity: 0.1;
    border-top: 6px solid var(--hl-bs--gray-500);
    position: absolute;
    left: 0;
    right: 0;
    top: 76px;
}
.milestone {
    text-align: center;
}
.milestone .HtmlContent,
.milestone h2 {
    transition: .3s;
    position: relative;
}
.milestone h2 {
    margin-top: 0;
    margin-bottom: 0;
    height: 48px;
}
.milestone h2::before,
.milestone h2::after {
    content: '';
    border-radius: 50%;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
}
.milestone h2::before {
    width: 25px;
    height: 25px;
    background: #009ADE;
}
.milestone h2::after {
    width: 13px;
    height: 13px;
    background: var(--hl-bs--gray-300);
}
.milestone:not(.slick-current) h2 {
    transform: translateY(10px);
}
.milestone.slick-current h2::before {
    width: 45px;
    height: 45px;
    bottom: -30px;
}
.milestone.slick-current h2::after {
    font-family: 'Font Awesome 5 Pro';
    width: 45px;
    height: 45px;
    line-height: 45px;
    background: transparent;
    color: var(--hl-bs--gray-300);
    font-weight: 300;
    font-size: 28px;
    content: '\f277';
    bottom: -30px;
}
.milestone .HtmlContent {
    opacity: 0;
    padding: 20px 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.milestone .HtmlContent::before,
.milestone .HtmlContent::after {
    content: '';
    position: absolute;
    width: 115px;
    border-top: 1px solid #005378;
    left: calc(50% - 57.5px);
    top: 0;
}
.milestone .HtmlContent::after {
    top: auto;
    bottom: 0;
}
.milestone.slick-current .HtmlContent {
    opacity: 1;
}
.milestone.slick-current h2,
.milestone h3 {
    color: #003045;
}
.milestone:not(.slick-current) h2 {
    color: #009ADE;
    font-size: 28px;
}

/************ footer ************/

#MPOuterFooter {
    padding: 0;
}

#MPOuterFooter::after {
    border: none;
}

#MPFooterLink a {
    letter-spacing: 0;
    font-size: inherit;
}

#FOOTER h2 {
    font-size: 16px;
    line-height: 19px;
    margin-top: 0;
}

#FOOTER.col-md-12,
#FOOTER .Footer {
    padding: 0;
}

.footer-middle-row,
.footer-bottom-row {
    position: relative;
}

.footer-middle-row::before,
.footer-bottom-row::before {
    content: '';
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
    border-top: 1px solid rgba(217, 217, 217, 0.2);
    display: block;
}

.footer-logo p {
    margin-bottom: 0;
}

.footer-logo img {
    max-height: 35px;
    max-width: unset;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-social ul {
    list-style-type: none;
    padding-left: 7px;
    display: flex;
    margin-bottom: 0;
}

.footer-social ul li {
    margin-left: 3px;
}

.footer-social ul li a {
    background: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: block;
}

#FOOTER .footer-social h2 {
    margin-bottom: 0;
}

#FOOTER .footer-social a {
    color: [FooterBackgroundColor];
}

#MPCopyright {
    text-align: left;
    padding: 0;
}

#MPFooterLink #MPFooterLinkContent {
    text-align: right;
    padding: 0;
}

/****** mobile ******/

@media (max-width: 991px) {

    .footer-middle-row::before,
    .footer-bottom-row::before {
        left: 8px;
        right: 8px;
    }

    #MPFooterLink .col-md-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-middle-row,
    #MPCopyright,
    #MPFooterLink #MPFooterLinkContent {
        text-align: center;
    }

    .footer-logo img {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-social {
        justify-content: center;
    }
}