:root {
    --ui-default-text: #595959;
    --ui-heading-text: #272727;
    --ui-default-text-small: #666;
    --ui-secondary-text: [TextOnSecondary];
}

/************ basics ************/

/****** fonts ******/

body.ribbit {
    color: var(--ui-default-text);
    font-size: 16px;
    line-height: 1.4;
    font-weight: 300;
}

body.ribbit h1,
body.ribbit h2,
body.ribbit #MPOuterMost #MPOuter h2,
body.ribbit h3,
body.ribbit h4,
body.ribbit h5,
body.ribbit h6 {
    color: var(--ui-heading-text);
    font-weight: 700;
}

body.ribbit h1 {
    font-size: 42px;
    line-height: 1.1;
}
body.ribbit h2,
body.ribbit #MPOuterMost #MPOuter h2 {
    font-size: 30px;
    line-height: 1.2;
}
body.ribbit #MPOuterMost #MPOuter .col-md-3 .HLLandingControl h2,
body.ribbit #MPOuterMost #MPOuter .col-md-4 .HLLandingControl h2,
body.ribbit .col-md-3 .engagement-leaderboard>div[id$=_divContainer]>.ContentMainHeader,
body.ribbit .col-md-4 .engagement-leaderboard>div[id$=_divContainer]>.ContentMainHeader {
    color: var(--ui-default-text-small);
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
body.ribbit .col-md-3 h2.font-size-sm,
body.ribbit .col-md-4 h2.font-size-sm {
    font-size: 12px !important;
}
body.ribbit h3 {
    font-size: 21px;
    line-height: 1.2;
}
body.ribbit h3 a,
body.ribbit #MPOuterMost #MPOuter h3 a {
    font-size: 18px;
    line-height: 1.2;
}
body.ribbit .bootstrap-4 h3 {
    line-height: 1.2;
}
body.ribbit .bootstrap-4 a.link-title {
    color: var(--ui-heading-text);
    font-size: 18px;
    line-height: 1.2;
}
body.ribbit h4 {
    font-size: 16px;
    line-height: 1.2;
}
body.ribbit h5,
body.ribbit h6 {
    font-size: 14px;
    line-height: 1.2;
}
body.ribbit h6 {
    font-weight: 600;
}
body.ribbit .p-large {
    font-size: 18px;
    line-height: 1.4;
}
body.ribbit .p-small {
    font-size: 14px;
    line-height: 1.4;
}
body.ribbit .bootstrap-4 .text-secondary {
    color: var(--hl-default-text) !important;
}
body.ribbit .bootstrap-4 .text-meta {
    color: var(--ui-default-text-small) !important;
}
body.ribbit .font-size-xs {
    font-size: 14px !important;
}
body.ribbit .bootstrap-4 a.link-meta {
    color: var(--hl-heading-text);
}
body.ribbit .bootstrap-4 a.link-meta:is(:hover, :focus) {
    text-decoration: underline;
    color: var(--hl-bs--link);
}
body.ribbit #MPOuterMost #MPOuter .ByLine,
body.ribbit #MPOuterMost #MPOuter .HLLandingControl h5 {
    font-size: 13px;
    line-height: 1.4;
    font-weight: 300;
    color: var(--ui-default-text-small);
}
body.ribbit #MPOuterMost #MPOuter .ByLine a,
body.ribbit #MPOuterMost #MPOuter .HLLandingControl h5 a {
    color: var(--ui-heading-text);
    font-weight: 600;
    text-decoration: none;
}
body.ribbit #MPOuterMost #MPOuter .ByLine a:is(:hover, :focus),
body.ribbit #MPOuterMost #MPOuter .HLLandingControl h5 a:is(:hover, :focus) {
    color: var(--ui-heading-text);
    text-decoration: underline;
}

/****** transitions ******/

a,
a:is(:hover, :focus),
button,
button:is(:hover, :focus),
input,
input:is(:hover, :focus) {
    transition: .3s;
}

/****** unstyled lists ******/

.unstyled-list ul {
    padding-left: 0;
    list-style-type: none;
}

/****** tables ******/

/*** default table style ***/
table {
    border-collapse: collapse;
    width: 100%;
    border: 0;
}

table th {
    padding: 10px 15px;
    vertical-align: middle;
    color: inherit;
    border: 0;
}

table tr:nth-child(2n) {
    border-bottom: 2px solid #ededed;
    background: #FaFaFa;
}

table tr td {
    padding: 15px;
    vertical-align: middle;
    border: 0;
}

/*** plain table style ***/
.plain-table tr td {
    padding: 10px 15px;
    vertical-align: middle;
    border: solid;
    border-width: 1px;
    background-color: #FFF;
    border-color: #EDEDED;
}

.plain-table th {
    padding: 10px 15px;
    vertical-align: middle;
    color: inherit;
    background-color: #FaFaFa;
    border: 1px solid #f5f5f5;
}

.plain-table tr:nth-child(2n) {
    border-bottom: 1px solid #EDEDED;
    background: #FFF;
}

/****** background images ******/

.bg-image,
.img-container {
    background-size: cover;
    background-position: center;
}

/****** buttons ******/

.Login a.btn-primary {
    padding: 10px 20px;
}

.make-buttons em {
    margin: -8px;
    display: inline-block;
}

.make-buttons em a {
    margin: 8px;
}

.make-buttons em a,
body.ribbit :not(.no-theme) .HLLandingControl .Content div[id*="AnnouncementLinkPos"] a:not(.btn),
body.ribbit .summary-edit em a,
body.ribbit .featured-card-single .btn,
body.ribbit .featured-card-multi .btn,
body.ribbit:not(.interior) .row>div[class*="col-md-"]>div[class*="Content"].card .HLLandingControl div[id$="_BottomLink"] a,
body.ribbit:not(.interior) .row>div[class*="col-md-"]>div[class*="Content"].card .HLLandingControl div[id$="_BottomLink"] a:is(:hover, :focus),
body.ribbit:not(.interior) .row>div[class*=col-md-]>div[class*=Content] .SearchResults div[id$=_pnlMoreLink] a,
body.ribbit:not(.interior) .row>div[class*=col-md-]>div[class*=Content] .SearchResults div[id$=_pnlMoreLink] a:is(:hover, :focus) {
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}

.make-buttons em a,
.card.social ul li a,
.cta-tile a::after,
button,
.btn,
body.ribbit .btn,
body.ribbit :not(.no-theme) .HLLandingControl .Content div[id*="AnnouncementLinkPos"] a:not(.btn),
body.ribbit .summary-edit em a,
body.ribbit:not(.interior) .row>div[class*="col-md-"]>div[class*="Content"].card .HLLandingControl div[id$="_BottomLink"] a,
body.ribbit:not(.interior) .row>div[class*="col-md-"]>div[class*="Content"].card .HLLandingControl div[id$="_BottomLink"] a:is(:hover, :focus),
body.ribbit:not(.interior) .row>div[class*=col-md-]>div[class*=Content] .SearchResults div[id$=_pnlMoreLink] a,
body.ribbit .make-buttons.primary-btn em a {
    background: linear-gradient(#0000, rgb(0 0 0/30%)) top/100% 800%;
}

.moxman-btn button,
.moxman-btn button:is(:hover, :focus) {
    background: transparent;
    color: #333;
}

.make-buttons em a,
.bootstrap-4:not(#CreateBtnWrapper) .btn {
    white-space: pre-wrap;
}

.make-buttons em a:is(:hover, :focus),
.card.social ul li a:is(:hover, :focus),
.cta-tile a:is(:hover, :focus)::after,
button:is(:hover, :focus),
.btn:is(:hover, :focus),
body.ribbit .btn:is(:hover, :focus),
body.ribbit .btn:is(:hover, :focus),
.btn.btn-primary:is(:hover, :focus),
body.ribbit .btn.btn-primary:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-primary:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-primary:focus,
body.ribbit :not(.no-theme) .btn-primary:hover:not(:disabled),
.btn.btn-success:is(:hover, :focus),
body.ribbit .btn-success:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-success:focus,
body.ribbit :not(.no-theme) .btn-success:hover:not(:disabled),
body.ribbit .bootstrap-4 .featured-card .card-edit .btn-group .btn-group .btn-primary:is(:hover, :focus),
.btn.btn-default:is(:hover, :focus),
body.ribbit .btn.btn-default:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-default:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-default:focus,
body.ribbit :not(.no-theme) .btn-default:hover:not(:disabled),
body.ribbit :not(.no-theme) .HLLandingControl .Content div[id*="AnnouncementLinkPos"] a:not(.btn):is(:hover, :focus),
body.ribbit .summary-edit em a:is(:hover, :focus),
body.ribbit:not(.interior) .row>div[class*="col-md-"]>div[class*="Content"].card .HLLandingControl div[id$="_BottomLink"] a:is(:hover, :focus),
body.ribbit:not(.interior) .row>div[class*=col-md-]>div[class*=Content] .SearchResults div[id$=_pnlMoreLink] a:is(:hover, :focus),
body.ribbit .make-buttons.primary-btn em a:is(:hover, :focus) {
    background: linear-gradient(#0000, rgb(0 0 0/30%)) top/100% 800%;
    background-position: bottom;
}

.make-buttons em a,
button:not([onlick]),
.btn,
body.ribbit .btn,
body.ribbit .btn:is(:hover, :focus),
body.ribbit .btn:is(:hover, :focus):not(.disabled),
.cta-tile a::after,
.make-buttons em a:is(:hover, :focus),
button:is(:hover, :focus),
.btn:is(:hover, :focus),
.cta-tile a:is(:hover, :focus)::after,
.btn.btn-info,
.btn.btn-info:is(:hover, :focus),
body.ribbit .btn.btn-info,
body.ribbit .btn.btn-info:is(:hover, :focus),
.btn.btn-primary,
.btn.btn-primary:is(:hover, :focus),
body.ribbit .btn.btn-primary,
body.ribbit .btn.btn-primary:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-primary,
body.ribbit :not(.no-theme) .btn-primary:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-primary:focus,
body.ribbit :not(.no-theme) .btn-primary:hover:not(:disabled),
body.ribbit .ContentUserControl .HLLandingControl .btn.btn-default,
body.ribbit .ContentUserControl .HLLandingControl .btn.btn-default:is(:hover, :focus),
body.ribbit :not(.no-theme) .HLLandingControl .Content div[id*="AnnouncementLinkPos"] a:not(.btn),
body.ribbit :not(.no-theme) .HLLandingControl .Content div[id*="AnnouncementLinkPos"] a:not(.btn):is(:hover, :focus),
body.ribbit .summary-edit em a,
body.ribbit .summary-edit em a:is(:hover, :focus),
body.ribbit:not(.interior) .row>div[class*="col-md-"]>div[class*="Content"].card .HLLandingControl div[id$="_BottomLink"] a,
body.ribbit:not(.interior) .row>div[class*="col-md-"]>div[class*="Content"].card .HLLandingControl div[id$="_BottomLink"] a:is(:hover, :focus),
body.ribbit:not(.interior) .row>div[class*=col-md-]>div[class*=Content] .SearchResults div[id$=_pnlMoreLink] a,
body.ribbit:not(.interior) .row>div[class*=col-md-]>div[class*=Content] .SearchResults div[id$=_pnlMoreLink] a:is(:hover, :focus),
body.ribbit .make-buttons.primary-btn em a,
body.ribbit .make-buttons.primary-btn em a:is(:hover, :focus) {
    background-color: var(--hl-bs--primary);
    color: var(--hl-bs--primary-opposite);
    border: none;
}

body.ribbit .make-buttons.outline-btn em a,
body.ribbit .make-buttons.outline-first-btn em:first-child a:first-child {
    background: transparent;
    color: var(--hl-bs--primary);
    border: 2px solid var(--hl-bs--primary);
    padding: 8px 18px;
}

body.ribbit .make-buttons.outline-btn em a:is(:hover, :focus),
body.ribbit .make-buttons.outline-first-btn em:first-child a:first-child:is(:hover, :focus) {
    color: #fff;
    background-color: var(--hl-bs--primary);
    border: 2px solid var(--hl-bs--primary);
}

body.ribbit .make-buttons.outline-first-btn.white-outline-btn em:first-child a {
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px 18px;
}

body.ribbit .make-buttons.outline-first-btn em:first-child a:first-child:is(:hover, :focus) {
    color: #fff;
    background-color: var(--hl-bs--primary);
    border: 2px solid var(--hl-bs--primary);
}


body.ribbit .btn-ghost {
    color: var(--hl-bs--default-text);
    background: var(--hl-bs--gray-100);
    border: none;
}

body.ribbit .btn-ghost:is(:hover, :focus),
body.ribbit .btn-ghost:is(:hover, :focus):not(.disabled) {
    color: var(--hl-bs--default-text);
    background: var(--hl-bs--gray-300);
}

.ribbit .narrow-widget a.link-standalone {
    color: #fff;
    font-size: 16px !important;
    font-weight: 600;
}

.bootstrap-4 .view-more-link a.link-standalone {
    font-weight: 600;
    color: var(--hl-bs--primary);
    font-size: 14px;
}

.btn.btn-success,
.btn.btn-success:is(:hover, :focus),
body.ribbit .btn.btn-success,
body.ribbit .btn.btn-success:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-success,
body.ribbit :not(.no-theme) .btn-success:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-success:focus,
body.ribbit :not(.no-theme) .btn-success:hover:not(:disabled),
body.ribbit .bootstrap-4 .featured-card .card-edit .btn-group .btn-group .btn-primary,
body.ribbit .bootstrap-4 .featured-card .card-edit .btn-group .btn-group .btn-primary:is(:hover, :focus) {
    background-color: var(--hl-bs--secondary);
    color: var(--ui-secondary-text);
    border: none;
}

.narrow-widget a.link-standalone i {
    display: none;
}

.btn.btn-default,
.btn.btn-default:is(:hover, :focus),
.btn.btn-default-override,
.btn.btn-default-override:is(:hover, :focus),
body.ribbit .btn.btn-default-override,
body.ribbit .btn.btn-default-override:is(:hover, :focus),
body.ribbit .btn.btn-default,
body.ribbit .btn.btn-default:is(:hover, :focus),
body.ribbit .people-you-should-know .HLLandingControl .btn.btn-default,
body.ribbit .people-you-should-know .HLLandingControl .btn.btn-default:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-default,
body.ribbit :not(.no-theme) .btn-default:is(:hover, :focus),
body.ribbit :not(.no-theme) .btn-default:focus,
body.ribbit :not(.no-theme) .btn-default:hover:not(:disabled),
.volunteer-opportunities-filter .bootstrap-select button.btn.btn-default,
.volunteer-opportunities-filter .bootstrap-select button.btn.btn-default:is(:hover, :focus) {
    background-color: var(--hl-bs--gray-300);
    color: var(--hl-bs--default-text);
    border: none;
}

body.ribbit .btn.btn-default .caret::before {
    color: var(--hl-bs--default-text);
}

.categorize-message-buttons button {
    color: var(--hl-bs--default-text);
}

.btn.btn-link,
.btn.btn-link:is(:hover, :focus),
body.ribbit .btn.btn-link,
body.ribbit .btn.btn-link:is(:hover, :focus) {
    background: transparent;
    color: var(--hl-bs--default-text);
}

.hl-primary-row-bkgd:not(.overlay) .make-buttons em a,
.hl-primary-row-bkgd:not(.overlay).make-buttons em a,
.hl-primary-row-bkgd:not(.overlay) .hero.image .make-buttons em+em a {
    color: var(--hl-bs--primary);
    background: var(--hl-bs--gray-100);
}

.hl-primary-row-bkgd:not(.overlay) .make-buttons em a:is(:hover, :focus),
.hl-primary-row-bkgd:not(.overlay).make-buttons em a:is(:hover, :focus) {
    color: var(--hl-bs--primary);
    background: var(--hl-bs--gray-300);
}

.hl-primary-row-bkgd .hero.image .make-buttons em a {
    color: var(--hl-bs--gray-100);
    background: var(--hl-bs--secondary);
}

.hl-primary-row-bkgd .hero.image .make-buttons em a:is(:hover, :focus) {
    color: var(--hl-bs--primary);
    background: var(--hl-bs--gray-300);
}

/* Secondary Button */

body.ribbit .make-buttons.secondary-btn em a {
    background: linear-gradient(var(--hl-bs--secondary), rgb(255 255 255/40%)) top/100% 800%;
    color: var(--hl-bs--default-text);

}

body.ribbit .make-buttons.secondary-btn em a:is(:hover, :focus) {
    background: linear-gradient(rgb(255 255 255/0%), rgb(255 255 255/85%)) top/100% 800%;
    background-color: var(--hl-bs--secondary);
    background-position: bottom;
}

/* White Button */

body.ribbit .make-buttons.gray-btn em a {
    background: #f5f5f5;
    color: var(--hl-bs--primary);
    transition: 0.3s;
}

body.ribbit .make-buttons.gray-btn em a:is(:hover, :focus) {
    background: #e4e4e4;
    color: var(--hl-bs--primary);
}

/* White Button */

body.ribbit .make-buttons.white-btn em a {
    background: #fff;
    color: var(--hl-bs--primary);
    transition: 0.3s;
}

body.ribbit .make-buttons.white-btn em a:is(:hover, :focus) {
    background: rgba(255, 255, 255, 0.8);
    color: var(--hl-bs--primary);
    transition: 0.3s;
}

/* White Outline Button */

body.ribbit .make-buttons.white-outline-btn em a {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 4px;
    transition: 0.3s;
}

body.ribbit .make-buttons.white-outline-btn em a:is(:hover, :focus),
.make-buttons.bg-primary em a:is(:hover, :focus),
.bg-primary .make-buttons em a:is(:hover, :focus) {
    background: #fff;
    border-color: #fff;
    color: var(--hl-bs--primary);
    transition: 0.3s;
}

/* Dark Outline Button */

body.ribbit .make-buttons.dark-outline-btn em a {
    background: transparent;
    color: var(--hl-bs--primary);
    border: 2px solid var(--hl-bs--primary);
    border-radius: 4px;
    transition: 0.3s;
}

body.ribbit .make-buttons.dark-outline-btn em a:is(:hover, :focus) {
    background: var(--hl-bs--primary);
    color: #fff;
    transition: 0.3s;
}

/* primary outline button */

.make-buttons.bg-primary em a,
.bg-primary .make-buttons em a {
    background: transparent;
    color: var(--hl-bs--primary-opposite);
    border: 2px solid var(--hl-bs--primary-opposite);
}
.make-buttons.bg-primary em a:is(:hover, :focus),
.bg-primary .make-buttons em a:is(:hover, :focus) {
    color: var(--hl-bs--primary);
    background-color: var(--hl-bs--primary-opposite);
    border-color: var(--hl-bs--primary-opposite);
}

/* secondary outline button */

.make-buttons.bg-secondary em a,
.bg-secondary .make-buttons em a {
    background: transparent;
    border: 2px solid var(--ui-secondary-text);
    color: var(--ui-secondary-text);
}
.make-buttons.bg-secondary em a:is(:hover, :focus),
.bg-secondary .make-buttons em a:is(:hover, :focus) {
    background: var(--ui-secondary-text);
    color: var(--hl-bs--secondary);
    border-color: var(--ui-secondary-text);
}

/****** arrow link ******/

.make-arrow-link em a {
    border: 0;
    background: transparent;
    color: var(--hl-bs--link);
    position: relative;
    padding: 0;
    display: flex;
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
    display: inline-block;
    font-weight: 600;
}

.make-arrow-link em a::after {
    content: '\f061';
    height: 13px;
    width: 14px;
    font-size: 14px;
    font-weight: 900;
    font-family: 'Font Awesome 5 Pro';
    margin-left: 8px;
}

.make-arrow-link em a:is(:hover, :focus) {
    color: var(--hl-bs--link-hover);
}

.make-arrow-link.small-link em a {
    font-size: 14px;
}

.make-arrow-link.small-link em a::after {
    font-size: 12px;
    margin-left: 8px;
}

/****** backgrounds ******/

body.ribbit:not(.interior).bodyBackground {
    background-color: rgba(245, 245, 245, 0.97);
}

.row-full.bg-white {
    background-color: #fff;
}

.row-full[class*="bg-"] {
    position: relative;
}

.row-full.bg-black {
    background-color: #000;
}

.overlay::before,
#MPOuterMost .bg-primary-light::before,
#MPOuterMost .bg-primary-dark::before,
#MPOuterMost .bg-primary-light-gray::before,
#MPOuterMost .bg-primary-medium-gray::before,
#MPOuterMost .bg-secondary-light::before,
#MPOuterMost .bg-secondary-dark::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(244, 244, 244, 0.85);
}

.overlay-down {
    position: relative;
}

.overlay-down::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);
}

.overlay-down .HtmlContent {
    position: relative;
    z-index: 5;
}

#MPOuterMost .bg-primary,
#MPOuterMost .bg-primary-light,
#MPOuterMost .bg-primary-dark,
#MPOuterMost .bg-primary-light-gray,
#MPOuterMost .bg-primary-medium-gray {
    background-color: var(--hl-bs--primary);
}

#MPOuterMost .bg-primary-light::before {
    background: rgba(255, 255, 255, 0.85);
}

#MPOuterMost .bg-primary-dark::before {
    background: rgba(255, 255, 255, 0.85);
}

#MPOuterMost .bg-primary-light-gray::before {
    background: rgba(245, 245, 245, 0.97);
}

#MPOuterMost .bg-primary-medium-gray {
    background: rgba(244, 244, 244, 0.85);
}

#MPOuterMost .bg-secondary,
#MPOuterMost .bg-secondary-light,
#MPOuterMost .bg-secondary-dark {
    background-color: var(--hl-bs--secondary);
}

#MPOuterMost .bg-secondary-light::before {
    background: rgba(255, 255, 255, 0.85);
}

#MPOuterMost .bg-secondary-dark::before {
    background: rgba(0, 0, 0, 0.20);
}

.overlay {
    position: relative;
}

/*** wave overlay ***/

.overlay-wave,
.light-graphic,
.dark-graphic {
    position: relative;
}
.overlay-wave::after {
    height: 157px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    mix-blend-mode: soft-light;
}
.overlay-wave > *,
.light-graphic > *,
.dark-graphic > * {
    position: relative;
    z-index: 1;
    float: none;
}

/*** graphic overlays ***/

.light-graphic::after {
    background-image: url('//higherlogicdownload.s3.amazonaws.com/ECONVERSETEST/c1b65cc9-eb19-48eb-9619-1c784c9c7071/UploadedImages/lightlight-swoosh_1_.png');
}

.dark-graphic::after {
    background-image: url('//higherlogicdownload.s3.amazonaws.com/ECONVERSETEST/c1b65cc9-eb19-48eb-9619-1c784c9c7071/UploadedImages/darkdark-graphic.png');
}

/*** text colours ***/

.hl-primary-row-bkgd.overlay,
.hl-primary-row-bkgd.overlay h1,
.hl-primary-row-bkgd.overlay h2,
.hl-primary-row-bkgd.overlay h3,
.hl-primary-row-bkgd.overlay h4,
.hl-primary-row-bkgd.overlay h5,
.hl-primary-row-bkgd.overlay h6,
.hl-primary-row-bkgd.overlay p {
    color: #000;
}
body.ribbit .bg-primary *,
body.ribbit #MPOuterMost #MPOuter .bg-primary h2 {
    color: var(--hl-bs--primary-opposite);
}
body.ribbit .bg-secondary *,
body.ribbit #MPOuterMost #MPOuter .bg-secondary h2 {
    color: var(--ui-secondary-text);
}
body.ribbit .bg-gray {
    background-color: rgba(245, 245, 245, 0.97);
}

/************ extra padding between columns ************/

@media (min-width: 992px) {
    .row-wide:not(.default-pad) > .col-md-6:first-child,
    .row-wide:not(.default-pad) > .col-md-8:first-child {
        padding-right: 24px;
    }
    
    .row-wide:not(.default-pad) > .col-md-6:last-child,
    .row-wide:not(.default-pad) > .col-md-8 + .col-md-4,
    .row-wide:not(.default-pad) > .col-md-8:last-child {
        padding-left: 24px;
    }
}

/************ tiles ************/

.tile {
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0px 0px 2px 0px rgba(153, 153, 153, 0.25), 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    background-color: #fff;
}
.tile + .tile {
    margin-top: 16px;
}
.tile .HtmlContent > *:first-child {
    margin-top: 0;
}
.tile .HtmlContent > *:last-child {
    margin-bottom: 0;
}

/****** image tiles ******/

.tile.img-tile {
    padding: 0;
}
.tile.img-tile .HtmlContent {
    padding: 24px;
}
.tile.img-tile .img-container {
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/****** CTA tiles ******/

.cta-tile a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: block;
    text-decoration: none;
    padding: 24px 100px 24px 24px;
    position: relative;
    background: var(--hl-bs--gray-100);
    margin-bottom: 30px;
    border-radius: 4px;
    overflow: hidden;
}

.cta-tile.icon a {
    padding-left: 110px;
}

.cta-tile.icon a>p:first-child {
    margin-bottom: 0;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.cta-tile.icon a i {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    background: var(--hl-bs--gray-300);
    color: var(--hl-bs--primary);
    font-size: 30px;
}

body.ribbit .cta-tile a {
    color: var(--hl-bs--default-text);
}

.cta-tile a::after {
    position: absolute;
    width: 60px;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: "Font Awesome 5 Pro";
    content: "\f061";
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.cta-tile h3 {
    margin-top: 0;
    transition: 0.3s;
}

.cta-tile a:hover,
.cta-tile a:focus {
    background: var(--hl-bs--gray-200);
    transition: 0.3s;
    color: var(--hl-bs--primary);
}

.cta-tile a:hover::after,
.cta-tile a:focus::after {
    transition: 0.3s;
}

.cta-tile.icon a:is(:hover, :focus) i {
    background: var(--hl-bs--gray-400);
}
