/************ basics ************/

a,
a:hover,
a:focus,
button,
button:hover,
button:focus,
input,
input:hover,
input:focus {
    transition: .3s;
}

/************ homepage V1 ************/

.cta-card .featured-card-single.card-layout-split {
    background: [PrimaryColor] !important;
    padding: 40px;
}

/************ interior pages ************/

body.ribbit.interior #MainCopy_ContentWrapper {
    padding-top: 0;
}

/****** CTA tiles ******/

.cta-tile a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: block;
    text-decoration: none;
    padding: 24px 100px 24px 24px;
    position: relative;
    background: var(--hl-bs--gray-100);
    margin-bottom: 30px;
}
.cta-tile.icon a {
    padding-left: 110px;
}
.cta-tile.icon a > p:first-child {
    margin-bottom: 0;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}
.cta-tile.icon a i {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    background: var(--hl-bs--gray-300);
    color: var(--hl-bs--primary);
    font-size: 30px;
}
body.ribbit .cta-tile a {
    color: var(--hl-bs--default-text);
}
.cta-tile a::after {
    position: absolute;
    width: 60px;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--hl-bs--link);
    font-family: 'Font Awesome 5 Pro';
    content: '\f061';
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.cta-tile h3 {
    margin-top: 0;
    transition: .3s;
}
.cta-tile a:hover,
.cta-tile a:focus {
    background: var(--hl-bs--gray-200);
    transition: .3s;
    color: var(--hl-bs--primary);
}
.cta-tile a:hover::after,
.cta-tile a:focus::after {
    background: var(--hl-bs--link-hover);
    transition: .3s;
}
.cta-tile.icon a:is(:hover, :focus) i {
    background: var(--hl-bs--gray-400);
}

/************ footer ************/

#FOOTER h2 {
    font-size: 16px;
    line-height: 19px;
    margin-top: 0;
}
#FOOTER .Footer {
    padding: 0;
}
.footer-middle-row,
.footer-bottom-row {
    position: relative;
}
.footer-middle-row::before,
.footer-bottom-row::before {
    content: '';
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
    border-top: 1px solid rgba(217,217,217,0.2);
    display: block;
}
.footer-logo .HtmlContent {
    height: 35px;
}
.footer-logo img {
    max-height: 100%;
    max-width: unset;
}
.footer-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer-social ul {
    list-style-type: none;
    padding-left: 7px;
    display: flex;
    margin-bottom: 0;
}
.footer-social ul li {
    margin-left: 3px;
}
.footer-social ul li a {
    background: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: block;
}
#FOOTER .footer-social h2 {
    margin-bottom: 0;
}
#FOOTER .footer-social a {
    color: [FooterBackgroundColor];
}
#MPCopyright {
    text-align: left;
    padding: 0;
}
#MPFooterLink #MPFooterLinkContent {
    text-align: right;
    padding: 0;
}